<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lab-in-charge/navContents/navStyle.css">
    <link rel="stylesheet" href="../lab-in-charge/navContents/borrowing/borrowingDetails.css">
    <link rel="stylesheet" href="emailDetails.css">
    
</head>
<body>
    <div class="emailBox">
        <h1>Borrowing Request Confirmation</h1>
        <p>Would you 'Confirm' or 'Decline'?</p>
        <div>
            <button id="yesBtn">Confirm</button>
            <button id="noBtn">Decline</button>
        </div>
        <div id="detailsContent" class="details">
            <div class="borrowingHeader">
                <div class="borrowingDetails">
                    <label>Borrower</label>
                    <div id="borrowerName"></div>
                </div>
                <div class="borrowingDetails">
                    <label>Section</label>
                    <div id="section"></div>
                </div>
                <div class="borrowingDetails">
                    <label>Group #</label>
                    <div id="groupNumber"></div>
                </div>
                <div class="borrowingDetails">
                    <label>Date Borrowed</label>
                    <div id="dateBorrowed"></div>
                </div>
                <div class="borrowingDetails">
                    <label>Instructor</label>
                    <div id="instructorName"></div>
                </div>
                <div class="borrowingDetails">
                    <label>Activity Title</label>
                    <div id="activityTitle"></div>
                </div>
            </div>
            <div class="borrowed">
                <div class="borrowContent">
                    <table>
                        <thead>
                            <tr class="tableHeader">
                                <th>Quantity</th>
                                <th>Tools/Equipment</th>
                                <th>Name of Members</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <!-- <tr>
                                <td>1</td>
                                <td>Trainer</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="submitted" style="display: none;">
        <h1>Thank you for Confirming!</h1>
    </div>
    <script src="emailDetails.js"></script>
</body>
</html>