body{
    box-sizing: border-box;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}
.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;

}
.contentHeader{
    background-color: rgba(252, 245, 235, 1);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}
.searchTools{
    display: flex;
    border: none;
    height: 30px;
    width: 100%;
    padding: 10px;
}
.searchTools input[type="text"]{
    width: 100%;
    font-size: 1.2em;
    color: rgba(186, 75, 47, 1);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(252, 245, 235, 1);
}
.content{
    height: fit-content;
    overflow-y: auto;
    background-color: rgba(252, 245, 235, 1);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.searchContents{
    height: fit-content;
    width: 70%;
    border-radius: 5px;
    margin: 5px;
}
h2 {
    color: rgba(186, 75, 47, 1);
    margin-top: 0.75em;
    padding-left: 0.75em;
    text-decoration: underline;
}
h3{
    color: rgba(186, 75, 47, 1);
    margin-top: 0.75em;
    text-decoration: underline;
    font-size: larger;
}
.searchContents li {
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.50em;
    margin-bottom: 10px;   
    margin-right: 20px;
    display: block;
    color: rgba(186, 75, 47, 1);
}
.searchContents li:nth-child(odd) {
    background-color: rgba(186, 75, 47, 0.05);
}
.searchContents li:nth-child(even) {
    background-color: rgba(186, 75, 47, 0.05);
}
.searchContents li:hover{
    background-color: rgba(134, 68, 52, 0.348);
    cursor: pointer;
}
.searchTools input[type="text"]::placeholder,
.toolsequip input[type="text"]::placeholder,
.toolsequip input[type="number"]::placeholder {
    color: rgba(186, 75, 47, 1);
}
.toolsequip{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content; 
    margin-top: 0px;
    margin-right: 30px;  
    border-radius: 5px;
    padding: 5px;
}
.toolsequip input[type="text"],
.toolsequip input[type="number"] {
    height: fit-content;
    width: 50vh;
}
#name, #description,#quantity, #price{
    font-size: 1.2em;
    color: rgba(186, 75, 47, 1);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(186, 75, 47, 0.05);
    outline: none;
    padding: 10px;
}
#submit{
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(186, 75, 47, 1);
    background-color: rgba(186, 75, 47, 0.05);
}

/* CSS for tool details */
#uploadedImage {
    object-fit: cover; 
}

.edit-input {
    font-size: large;
    color: rgba(186, 75, 47, 1);
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}

.tool-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 5px;
    margin-top: 5px;
    justify-content: center;
}

.tool-picture {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    position: relative;
}

.image-container {
    width: 90%;
    height: 540px;
    margin-top: 15px;
    margin-left: 20px;
    border: 2px solid rgba(186, 75, 47, 0.5);
    box-shadow: 0 0 5px rgba(186, 75, 47, 1);
    position: relative;
    background-color: #f9f9f9;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.plus-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgba(252, 245, 235, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-button::after {
    content: '+';
    font-size: 24px;
    line-height: 24px;
    color: rgba(252, 245, 235, 1);
}

.tool-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10%;
}

.tool-info #name {
    font-size: 48px;
    font-weight: bold;
    margin-right: 300px;
    color: rgba(186, 75, 47, 1);
    background-color: rgba(252, 245, 235, 0.05);
    letter-spacing: 5px;
    font-style: italic;
}

label {
    font-size: larger;
    color: rgba(252, 245, 235, 1);
    background-color: rgba(134, 68, 52, 0.348);
    width: 35%;
    text-align: center;
    height: 20%;
    border-radius: 5px;
}

.about-border {
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(134, 68, 52, 0.348);
    margin-bottom: 20px auto;
}   

.tool-info #description {
    font-size: large;
    color: rgba(186, 75, 47, 1);
    margin-bottom: 5px;
    width: fit-content;
    background-color: rgba(252, 245, 235, 0.05);
    border-radius: 0;
}

.tool-info #quantity {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(186, 75, 47, 1);
    background-color: rgba(252, 245, 235, 0.05);
    width: fit-content;
}

.tool-info #price {
    font-size: 28px;
    font-weight: lighter;
    color: rgba(186, 75, 47, 1);
    background-color: rgba(252, 245, 235, 0.05);
    width: fit-content;
    border-radius: 5px;
}

.tool-buttons {
    margin-top: auto;
    margin-right: 20px;
    display: flex;
    position: relative;
    gap: 10px;
}

.tool-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
    border: none;
    border-radius: 5px;
}

.tool-buttons .edit {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.tool-buttons .save {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.tool-buttons .delete {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

#toolImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}

.imageBox {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
    outline: solid 2px rgba(186, 75, 47, 0.05);
    box-shadow: 0 0 5px rgba(186, 75, 47, 1);
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgba(186, 75, 47, 1);
    color: white;
    box-shadow: 0 0 5px rgba(186, 75, 47, 1);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5%;
}

.custom-file-label:hover {
    background-color: rgba(186, 75, 47, 0.5);
}
.message{
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: larger;
    letter-spacing: 5px;
}