body{
    box-sizing: border-box;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}

.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;
}
.facultyHeader{
    background-color: rgba(252, 245, 235, 1);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}
.searchTools{
    display: flex;
    margin: 10px;
    border: none;
    height: 30px;
    width: 100%;
}
.searchTools input[type="text"] {
    width: 100%;
    color: rgba(186, 75, 47, 1);
    border: none;
    border-radius: 5px;
    background-color: rgba(252, 245, 235, 1);
    outline: none;
    font-size: 1.2em;
}
.searchTools input[type="text"]::placeholder {
    color: rgba(186, 75, 47, 1);
}
table {
    height: 90%;
    width: 98%;
    margin: 10px;
    padding: 10px;
    border-spacing: 8px;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: rgba(252, 245, 235, 1);
}
th {
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
td {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: large;
    background-color: rgba(186, 75, 47, 0.05);
}
table a {
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-size: large;
}

#facultyList tr:hover td{
    background-color: rgba(244, 106, 71, 0.146);
    cursor: pointer;
}
.buttonContainer button{
    background-color: rgba(252, 245, 235, 1);
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(186, 75, 47, 1);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
}
.buttonContainer button:hover{
    background-color: rgba(226, 217, 204, 0.851);
}
.message{
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: larger;
    letter-spacing: 5px;
}