body{
    box-sizing: border-box;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}
.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;

}
.borrowingContent {
    height: 95%;
    margin: 10px;
    border-radius: 5px;
    display: block;
    justify-content: space-evenly;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(252, 245, 235, 1);
}
table {
    width: 99%;
    margin: 5px;
    padding: 5px;
    border-spacing: 8px;
    justify-content: space-evenly;
    background-color: none;
}
th {
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
td {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: large;
    background-color: rgba(186, 75, 47, 0.05);
}
th[colspan="1"] {
    width: 50%;
}
th[colspan="2"] {
    width: 50%;
}
td:hover{
    background-color: rgba(209, 126, 105, 0.897);
    color: white;
    cursor: pointer;
}
td:nth-child(2),
td:nth-child(3) {
    width: 20%;
}
.message{
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: larger;
    letter-spacing: 5px;
}