body{
    box-sizing: border-box;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh;
    display: block;
}

.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;
}
.details {
    background-color: rgba(252, 245, 235, 1);
    border-radius: 5px;
}
.detailsHeader {
    padding: 10px;
    margin-top: 20px;
    width: 590px;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    font-size: larger;
    letter-spacing: 20px;
    outline:2px solid;
    display:block;
    margin-inline: auto;
    margin-bottom: 30px;
}
.borrowingHeader {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.borrowingDetails {
    margin: 10px;
    margin-right: 50px;
    padding: 5px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
}
.borrowingDetails div{
    height: 35px;
    font-size: large;
    color:rgba(186, 75, 47, 1);
    border: none;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    width: 90%;
    text-align: start;
    display: flex;
    align-items: center;
}
#borrowerName, #instructorName{
    width: 300px;
}
#section, #groupNumber, #dateBorrowed{
    width: 200px;
}
#activityTitle{
    width: 700px;
}
label {
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(186, 75, 47, 1);
}
span {
    font-size: larger;
    margin: 10px;
    color:rgba(186, 75, 47, 1);
    text-decoration: underline;
}
.borrowed {
    margin: 5px;
    padding: 5px;
}
.borrowed table {
    /* background-color: blue; */
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.borrowed th, .borrowed td {
    border: none;
    padding: 5px;
    text-align: center;
    color: rgba(186, 75, 47, 1);
}
th {
    text-decoration: underline;
    font-size: larger;
}
.borrowContent {
    height: fit-content;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    overflow-x: hidden;
}
.nameMembers {
    width: 35%;
    color: rgba(186, 75, 47, 1);
    text-align: center;
    font-size: 1.1em;
}
.nameMembers .nameHeader{
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
.nameMembers div{
    border-radius: 5px;
}
.tableHeader th:nth-last-child(1) {
    width: 30%;
}
.tableHeader th:nth-last-child(2) {
    width: 40%;
}
.tableHeader th:nth-last-child(3) {
    width: 30%;
}
.nameContainer{
    padding: 5px;
    margin-bottom: 2px;
}
span #dateBorrowed {
    color: rgba(186, 75, 47, 1);
}