body{
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    color: rgba(186, 75, 47, 1); 
}
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }
}
.detailsHeader {
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    font-size: larger;
    letter-spacing: 20px;
    outline:2px solid;
    display:block;
    margin-inline: auto;
    margin-bottom: 30px;
}
.addFaculty{
    background-color:rgba(252, 245, 235, 1);
    margin: 10px;
    border-radius: 5px;
    padding: 5px; 
    height: fit-content;   
}
.inputDetails{
    margin-bottom: 15px;
}
.facultyDetails{
    margin-left: 5%;
    margin-top: 2%;
}
.inputDetails label{
    font-size: medium;
    font-weight: bold;
    margin-right: 3%;
    display: inline-block;
    width: 120px;
}
p{
    font-size: larger;
    font-weight: bold;
    color: rgba(186, 75, 47, 1);
    margin-right: 3%;
    display: inline-block;
    width: 80%;
    text-decoration: underline;
    margin-top: 2%;
    letter-spacing: 10px;
}
.schedule{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    width: fit-content;
    background-color: rgba(207, 85, 54, 0.05);
}
.schedule select{
    width: fit-content; 
    height: fit-content; 
    font-weight: bold;
    color: rgba(186, 75, 47, 1);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.schedule label{
    margin-right: 5px;
}
.selectSection label, .selectDay label{
    height: fit-content;
    font-size: medium;
    padding: 5px;
}
.selectSection select, .selectDay select{
    background-color: rgba(186, 75, 47, 0.05);
    height: fit-content;
    font-size: 14px;
    padding: 5px;
}
.selectSection, .selectDay{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    display: flex;
    height: fit-content;
    padding: 5px;
}
.time input, .time label{
    width: fit-content;
}
.startTime{
    display: flex;
    margin-right: 20px;
}
.startTime input, .endtime input{
    background-color: rgba(186, 75, 47, 0.05);
    height: fit-content;
    padding: 5px;
}
.startTime label, .endtime label{
    height: fit-content;
    padding: 5px;
}
.buttonSched{
    padding: 5px;
    border-radius: 5px;
    border: none;
    /* background-color: rgba(186, 75, 47, 0.05); */
    background-color: transparent;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.addBtnBox{
    width: auto;
    text-align: center;
}
#addBtnSched {
    background: linear-gradient(to top, rgba(252, 245, 235, 1), rgba(186, 75, 47, 0.5));
    color: hsl(0, 10%, 60%);
    border: none;
    cursor: pointer;
    text-align: center;
    width: 70%;
}

#addBtnSched:hover {
    background: linear-gradient(to top, rgba(252, 245, 235, 1), rgba(186, 75, 47, 1));
}
.titleSched{
    margin-top: 20px;
    text-align: center;
}
input{
    outline: none;
    flex: 1;
    background-color: rgba(186, 75, 47, 0.05);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80%;
    color: rgba(186, 75, 47, 1);
    font-size: medium;
    font-weight: bold;
}
.submitBox{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 20px 0;
}
button[type="submit"]{
    background-color:rgba(186, 75, 47, 0.05);
    font-weight: bold;
    font-size: medium;
    color: rgba(186, 75, 47, 1);
    cursor: pointer;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    width: fit-content;
}
button[type="submit"]:hover{
    background-color: rgba(186, 75, 47, 0.184);
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}

.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;
}
@media (max-width: 1200px) {
    .schedule {
        flex-direction: column;
    }
}