body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}

.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(252, 245, 235, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;
}
.facultyDetails table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    background-color: rgba(252, 245, 235, 1);
}

.facultyDetails th, .facultyDetails td {
    background-color: rgba(252, 245, 235, 1);
    border: 1px solid rgba(186, 75, 47, 1);
    text-align: center;
}

.facultyDetails th {
    background-color: rgba(252, 245, 235, 1);
    color: rgba(186, 75, 47, 1);
}
.detailsHeader {
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    font-size: larger;
    letter-spacing: 20px;
    outline:2px solid;
    display:block;
    margin-inline: auto;
    margin-bottom: 30px;
}


.facultyDetails td:nth-child(1) {
    width: 10%;
}

.facultyDetails td:nth-child(n+2) {
    width: 10%; /* 100% / 7 days */
}

.time-cell {
    height: 10px;
}
.rowDetails {
    display: flex;
    flex-wrap: wrap;
}
.details {
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(252, 245, 235, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.navContent h1 {
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    font-size: larger;
    letter-spacing: 20px;
    outline:2px solid;
    display:block;
    margin-inline: auto;
    margin-bottom: 30px;
}
label {
    padding: 5px;
    font-weight: bold;
    color: rgba(186, 75, 47, 1);
    white-space: nowrap;
}
h2{
    padding: 5px;
    margin-left: 5px;
    margin-right: 0 auto;
    display: flex;
    letter-spacing: 5px;
    font-weight: bold;
    color: rgba(186, 75, 47, 1);
}
option, select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: rgba(186, 75, 47, 1);
    background-color: rgba(252, 245, 235, 1);
}
.tableContent{
    /* width: 12.5%;  */
    /* border: 1px #000000 solid; */
    height: 30px;
    text-align: center;
    font-size: 11px;
}
.rowStart{
    text-align: center;
    font-size: 18px;
    font-family: tahoma;
    background-color: rgb(239, 228, 219) !important;
}
.highlight{
    background-color: rgb(155, 236, 155) !important;
    border: none;
}
input{
    border-radius: 5px;
    border: none;
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: large;
    background-color: rgba(186, 75, 47, 0.05);
    width: 100%;
}
.scheduleTableForm td{
    padding-right: 15px;
}
.actionBox{
    text-align: end;
    margin: 0 20px;
}
#editBtn, #saveBtn, #deleteBtn{
    background-color:rgba(186, 75, 47, 1);
    font-size: medium;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    width: fit-content;
}
#editBtn:hover,
#saveBtn:hover,
#deleteBtn:hover {
    background-color: rgb(177, 23, 23);
}