body{
    background-color: maroon;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    margin: 20px;
}
main{
    text-align: center;
    justify-content: center;
}
.lpheader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(252, 245, 235, 1); */
    background-color: rgba(252, 245, 235, 1);
    font-size: medium;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    z-index: 1;
}
img {
    width: 100%;
    height: 77vh; /* Adjust height to maintain aspect ratio */
    display: block;
}
.logo {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}
.heading {
    margin: 0;
    font-weight: bold;
    font-size: 5vh;
    color: rgba(186, 75, 47, 1);
    letter-spacing: 10px;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
.firstRowGroup{
    margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(186, 75, 47, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}
#exit{
    width: 11vh;
    justify-content: center;
    text-decoration: none;
    color: rgba(186, 75, 47, 1);
    font-weight: bold;
    letter-spacing: 2px;
}
.searchTools{
    margin: 10px;
    display: flex;
    border: none;
    height: 30px;
    width: 99%;
}
.searchTools input[type="text"]{
    width: 93%;
    font-size: 1.2em;
    color: rgba(186, 75, 47, 1);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(252, 245, 235, 1);
}
.searchContents li:nth-child(odd) {
    background-color: rgba(186, 75, 47, 0.05);
}
.searchContents li:nth-child(even) {
    background-color: rgba(186, 75, 47, 0.05);
}
.searchTools input[type="text"]::placeholder,
.toolsequip input[type="text"]::placeholder,
.toolsequip input[type="number"]::placeholder {
    color: rgba(186, 75, 47, 1);
}
#addButton {
    border: none;
    border-radius: 5px;
    height: 30px;
    color: rgba(186, 75, 47, 1);
    width: 100%;
    margin-left: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(252, 245, 235, 1);
    cursor: pointer;
}
#addButton:hover{
    background-color: rgba(212, 203, 189, 0.882);
}
.Liccontent {
    background-color: rgba(252, 245, 235, 1);
    height: fit-content;
    margin: 10px;
    border-radius: 5px;
    display: block;
    justify-content: space-evenly;
    padding: 5px;
}
table {
    width: 99%;
    margin: 5px;
    padding: 5px;
    border-spacing: 8px;
    justify-content: space-evenly;
    background-color: none;
}
th {
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: rgba(186, 75, 47, 1);
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
td {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: large;
    background-color: rgba(186, 75, 47, 0.05);
}
td:nth-child(1){
    width: 30%;
}
td:nth-child(2){
    width: 20%;
}
td:nth-child(3){
    width: 30%;
}
td:nth-child(4){
    width: 20%;
}
tr:hover td {
    background-color: rgba(244, 106, 71, 0.146);
    cursor: pointer;
}
.message{
    text-align: center;
    color: rgba(186, 75, 47, 1);
    font-size: larger;
    letter-spacing: 5px;
}