.chat-icon{
    width: 60px;
    height: 60px;
    background-color: rgb(184, 25, 39);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0 5ms;
}
.chat-icon:hover{
    background-color: rgb(215, 75, 87);
}