.plus-button {
    border: none;
    border-radius: 5px;
    background-color: rgba(186, 75, 47, 1);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.inputCell input{
    border: none;
    border-radius: 5px;
    background-color: rgba(186, 75, 47, 0.05);
    height: 20px;
    font-weight: bold;
    font-size: medium;
    color: rgba(186, 75, 47, 1);
    outline: none;
}
th[colspan="2"]{
    width: 15%;
    text-align: left;
}
.quantityHeader{
    width: 20% !important;
}
.toolsHeader{
    width: 30% !important;
}
td[class="buttonCell"]{
    text-align: right;
}
td[class="inputCell"]{
    text-align: left;
}
.toolsBox{
    border-top: 2px solid rgb(175, 172, 172);
    height: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(186, 75, 47, 1);
    align-items: flex-start;
}
.toolsBox th[colspan="3"]{
    text-align: center;
}
.toolsBox .damageTable{
    margin-right: 20px;
    /* background-color: blue; */
    width: 50%;
    display: none;
}
.toolsBox .lostTable{
    /* background-color: blue; */
    width: 50%;
    display: none;
}
.toolsBox tbody td:nth-child(1){
    background-color: rgba(186, 75, 47, 1);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 2px;
    border-radius: 5px;
    cursor: pointer;
}
.toolsBox tbody td{
    background-color: rgba(105, 42, 26, 0.05);
}
.submitBox{
    height: fit-content;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 20px;
}
.submitBox button{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(186, 75, 47, 1);
    color: white;
    border: none;
    border-radius: 5px;
}
.submitBox button:hover{
    background-color: rgb(175, 6, 6);
}
.tableSeparator {
    border: none; 
    border-top: 2px solid rgb(175, 172, 172);
    margin: 20px 0;
    margin-left: 20px;
}